---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import ContactForm from '../components/ContactForm.svelte';
import spybot from '../assets/spybot.webp';
import loxt from '../assets/loxt.webp';
import tasks from '../assets/tasks.webp';
import github from '../assets/github.webp';
import discord from '../assets/discord.webp';
import gmail from '../assets/gmail.webp';
import Separator from '../components/Separator.astro';
import SectionTitle from '../components/SectionTitle.astro';
import Section from '../components/Section.astro';
---

<Layout>
	<header class="flex flex-col items-center mb-8 p-5">
		<div class="gap-2 flex-col sm:flex-row flex items-center">
			<span class="icons">
				<img id="blur" class="icon" src="/favicon.png" alt="AngelNext Icon." width="200" height="200" />
			</span>
			<h1 class="neon-title font-semibold font-splash tracking-widest text-2xl sm:text-3xl md:text-5xl p-2">
				Hi, I am AngelNext
			</h1>
		</div>
		<p class="mx-16 font-medium tracking-wide text-gray-400 my-8 text-sm sm:text-lg">
			I am a FullStack Developer that loves spending his free time coding & learning new things.
		</p>
		<div id="skills"></div>
	</header>

	<Separator />

	<Section>
		<SectionTitle>My Projects</SectionTitle>
		<ul class="w-5/6">
			<Project title="Spy Bot" icon={spybot} date="Feb 2022" color="bg-black"
				url="https://github.com/spybot-discord/spybot">
				Spy Bot is a Discord security, moderation bot that cares about you and your community.
			</Project>
			<Project title="Loxt" icon={loxt} date="May 2022" color="bg-blue-600" url="https://github.com/AngelNext/loxt">
				Loxt is a simple and easy console logger of 2kb in size with 0 external dependencies.
			</Project>
			<Project title="Tasks API" icon={tasks} date="Mar 2022" color="bg-indigo-800"
				url="https://github.com/AngelNext/tasks-api">
				A simple API made in Go conected to MySQL.
			</Project>
		</ul>
	</Section>

	<Section>
		<SectionTitle>Contact Me</SectionTitle>
		<ContactForm />
	</Section>

	<Section>
		<SectionTitle>Socials</SectionTitle>
		<ul class="w-5/6">
			<Project title="AngelNext" icon={github} date="Checked at least weekly" color="bg-black"
				url="https://github.com/AngelNext" />
			<Project title="@AngelNext#9162" icon={discord} date="Checked Daily" color="bg-indigo-800"
				url="https://discord.com/users/807705107852558386" />
			<Project title="contact@angelnext.dev" icon={gmail} date="Checked at least weekly" color="bg-red-400"
				url="mailto:contact@angelnext.dev" />
		</ul>
	</Section>

</Layout>

<style>
	@media (min-width: 768px) {
		#skills {
			width: 723px;
			height: 104px;
			display: list-item;
			list-style-position: inside;
			list-style-image: url("https://skillicons.dev/icons?i=js,html,css,wasm,ts,git,cs,discord,deno,kotlin,rust,sass,styledcomponents,go,vite,nodejs,netlify,mysql,nestjs,mongodb,prisma,tailwind,dart,react&perline=12");
		}
	}

	@media (max-width: 768px) {
		#skills {
			width: 442px;
			height: 161px;
			display: list-item;
			list-style-position: inside;
			list-style-image: url("https://skillicons.dev/icons?i=js,html,css,wasm,ts,git,cs,discord,deno,kotlin,rust,sass,styledcomponents,go,vite,nodejs,netlify,mysql,nestjs,mongodb,prisma,tailwind,dart,react&perline=8");
		}
	}

	@media (max-width: 600px) {
		#skills {
			width: 292px;
			height: 192px;
			display: list-item;
			list-style-position: inside;
			list-style-image: url("https://skillicons.dev/icons?i=js,html,css,wasm,ts,git,cs,discord,deno,kotlin,rust,sass,styledcomponents,go,vite,nodejs,netlify,mysql,nestjs,mongodb,prisma,tailwind,dart,react&perline=6");
		}
	}

	@media (max-width: 460px) {
		#skills {
			width: 217px;
			height: 329px;
			display: list-item;
			list-style-position: inside;
			list-style-image: url("https://skillicons.dev/icons?i=js,html,css,wasm,ts,git,cs,discord,deno,kotlin,rust,sass,styledcomponents,go,vite,nodejs,netlify,mysql,nestjs,mongodb,prisma,tailwind,dart,react&perline=4");
		}
	}

	:global(.neon-title) {
		color: #4f9aff;
		text-shadow: 0 2px 10px #4f9aff;
	}

	#blur {
		filter: blur(2px);
	}
</style>